.dropdown-toggle::after {
    display: none !important;
}

.nav-item .dropdown-menu {
    position: relative !important;
    transform: none !important;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-item .dropdown-item {
    color: white;
    padding: 0.5rem 2rem;
}

.nav-item .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item .dropdown-item.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-collapsed .dropdown-menu {
    display: none;
}

#books-dropdown {
    padding: 1rem;
    width: 100%;
    text-align: left;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    width: 100%;
}

.dropdown-collapsed .dropdown-toggle {
    justify-content: center;
}

.nav-item.dropdown-collapsed .dropdown-menu {
    position: absolute !important;
    left: 100% !important;
    top: 0 !important;
    background-color: var(--bs-primary);
    min-width: 200px;
} 